p {
	text-align: center;
}
h1 {
	text-align: center;
	font-weight: bolder;
	font-size: 64px;
	padding: 15px;
	margin: 20px;
	text-shadow: rgb(243, 234, 234) 5px;
}
h2 {
	text-align: right;
	font-weight: bolder;
	padding: 20px;
	font-size: large;
}
#time-display {
	background-color: rgba(169, 169, 169, 0.281);
	color: whitesmoke;
	outline: thin;
}
.header-custom {
	background-image: url('../images/covid1.png');
	overflow: hidden;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 100%;
}
.table-custom {
	margin: auto;
	background-color: rgba(169, 169, 169, 0.281);
	font-weight: bolder;
	color: white;
	font-size: 24px;
	table-layout: auto;
}
.table-custom1 {
	table-layout: auto;
	width: 100%;
	background-color: rgba(169, 169, 169, 0.281);
	color: white;
	font-size: 22px;
	font-weight: bold;

}
#search-form {
	margin-top: 30px;
	text-align: center;
}
.box {
	border: 2px solid hsl(171, 100%, 96%);
	border-radius: 8px;
}
