h1 {
	text-align: center;
	font-size: x-large;
}
aside {
	text-align: text-top;
}
h2 {
	text-align: left;
	
}
.hero {
	font-size: x-large;
}
#currentCov19Cases {
	font-size: x-large;
}
#search-form {
	text-align: center;
}

#search-form {
	margin-top: 30px;
}
.box {
	border: 2px solid hsl(171, 100%, 96%);
	border-radius: 8px;
}
